[submodule "EasyExample/lib_cci"]
	path = EasyExample/lib_cci
	url = https://github.com/Meisterschulen-am-Ostbahnhof-Munchen/cci_ecu_driver_private.git
[submodule "EasyExample/components/tcp_server"]
	path = EasyExample/components/tcp_server
	url = https://github.com/Meisterschulen-am-Ostbahnhof-Munchen/tcp_server.git
[submodule "EasyExample/components/can2ip"]
	path = EasyExample/components/can2ip
	url = https://github.com/Meisterschulen-am-Ostbahnhof-Munchen/can2ip.git
